{% extends 'layout.html' %}

{% block content %}
  <h1>{{title}}</h1>
  <a href="/" id="exit-btn">방 나가기</a>
  <h3 id="room-owner">{{room.owner}}</h3>
  <fieldset>
    <legend>채팅 내용</legend>
    <div id="chat-list">
      {% for chat in chats %}
        {% if chat.user === user %}
          <div class="mine" style="color: {{chat.user}}">
            <div>{{chat.user}}</div>
            {% if chat.gif %}}
              <img src="/gif/{{chat.gif}}">
            {% else %}
              <div>{{chat.chat}}</div>
            {% endif %}
          </div>
        {% elif chat.user === 'system' %}
          <div class="system">
            <div>{{chat.chat}}</div>
          </div>
        {% else %}
          <div class="other" style="color: {{chat.user}}">
            <div>{{chat.user}}</div>
            {% if chat.gif %}
              <img src="/gif/{{chat.gif}}">
            {% else %}
              <div>{{chat.chat}}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </fieldset>
  <form action="/chat" id="chat-form" method="post" enctype="multipart/form-data">
    <label for="gif">GIF 올리기</label>
    <input type="file" id="gif" name="gif" accept="image/gif">
    <input type="text" id="chat" name="chat">
    <button type="submit">전송</button>
  </form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:8005/chat', {
      path: '/socket.io',
    });
    socket.on('join', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    socket.on('exit', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    socket.on('chat', function (data) {
      const div = document.createElement('div');
      if (data.user === '{{user}}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
      }
      const name = document.createElement('div');
      name.textContent = data.user;
      div.appendChild(name);

      if(data.user != '{{user}}'){
        const dm = document.createElement('button');
        dm.textContent = '귓속말';
        dm.className = 'dm';
        dm.dataset.socket=data.socket;
        dm.addEventListener('click', sendDM);
        name.appendChild(dm);

        if('{{user}}' == '{{room.owner}}'){
          const ban = document.createElement('button');
          ban.textContent = '강퇴';
          ban.className = 'ban';
          ban.dataset.socket=data.socket;
          ban.addEventListener('click', funcban);
          name.appendChild(ban);

          const yours = document.createElement('button');
          yours.textContent = '방장 위임';
          yours.className = 'yours';
          yours.dataset.color = data.user;
          yours.dataset.socket=data.socket;
          yours.addEventListener('click', funcyours);
          name.appendChild(yours);
        }
      }

      if (data.chat) {
        const chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
      } else {
        const gif = document.createElement('img');
        gif.src = '/gif/' + data.gif;
        div.appendChild(gif);
      }
      div.style.color = data.user;
      document.querySelector('#chat-list').appendChild(div);
    });
    document.querySelector('#chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.chat.value) {
        axios.post('/room/{{room._id}}/chat', {
          chat: this.chat.value,
          sid: socket.id,
        })
          .then(() => {
            e.target.chat.value = '';
          })
          .catch((err) => {
            console.error(err);
          });
      }
    });
    document.querySelector('#gif').addEventListener('change', function (e) {
      console.log(e.target.files);
      const formData = new FormData();
      formData.append('gif', e.target.files[0]);
      axios.post('/room/{{room._id}}/gif', formData)
        .then(() => {
          e.target.file = null;
        })
        .catch((err) => {
          console.error(err);
        });
    });
    const sendDM = function (e) {
      const id = e.target.dataset.socket; // socket id를 받아옴
      const prompt = window.prompt('귓속말을 입력하세요.');
      socket.emit('dm', {target: id, msg: prompt, from: '{{user}}'});
    };

    const funcban = function(e){
      const id = e.target.dataset.socket;
      const name = e.target.textContent;
      const owner = document.getElementById('room-owner').textContent;
      if('{{user}}' === owner && name !== owner){
        if(confirm(`${name}을 강퇴시킬겁니까?`)){
          socket.emit('ban', id);
        }
      }
    };

    const funcyours = function(e){
      const id = e.target.dataset.color;
      const name = e.target.textContent;
      const sid = e.target.dataset.socket;
      const owner = document.getElementById('room-owner').textContent;

      console.log(id);
      
      if('{{user}}' === owner && name !== owner){
        if(confirm(`${name}에게 방장 기능을 위임하십니까?`)){
          axios.post('/room/{{room._id}}', {
          newowner: id,
          owner: owner,
          sid: sid,
        })
          .then(() => {
            e.target.chat.value = '';
          })
          .catch((err) => {
            console.error(err);
          });
        }
      }
    }
   // socket.js에서 보내진 소켓 내용을 프론엔드에서도 뿌려줌.
    socket.on('dm', function (data) {
      alert(data.from+'님에게서 귓속말이 도착했습니다. : ' + data.msg);
    });
   // 강퇴
    socket.on('ban', function () {
      alert('강퇴되었습니다.');
      location.href = '/';
    });
   // 방장 위임
    socket.on('yours', function () {
      alert('방장이 되셨습니다.');
    });

    // dm 버튼을 눌렀을 때 모두 sendDM이 가능하도록 함.
    Array.prototype.forEach.call(document.querySelectorAll('.dm'), function (el){
      el.addEventListener('click', sendDM);
    });

    Array.prototype.forEach.call(document.querySelectorAll('.ban'), function (el){
      el.addEventListener('click', ban);
    });
  </script>
{% endblock %}